{
	"semi": true,
	"printWidth": 100,
	"singleQuote": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"quoteProps": "consistent",
	"proseWrap": "preserve",
	"tabWidth": 2
}
